<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/main.css">
    {% block links %}{% endblock %}
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="menu">
    <div>
        <a>Languages</a>
        <ul>
            {% for el in langs.keys() %}
            <li><a href="/{{ el }}">{{ el }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <span style="width: 100%"></span>
    {% if user and user.is_authenticated %}
    <div>
        <a href="/profile/me"><img src="/profile/me/picture" alt="Profile" class="pfp"/></a>
        <ul style="right: 0px; left: unset;">
            <li><a href="/profile/me">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Log Out</a></li>
            <hr>
            <li><a>Your Languages</a></li>
            {% if user.is_admin() %}
            <hr>
            <li><a href="/userlist">List of Users</a></li>
            {% endif %}
        </ul>
    </div>
    {% else %}
    <a href="/login">Sign In</a>
    <a href="/register"><span class="box">Sign Up</span></a>
    {% endif %}
</nav>
{% block content %}
{% endblock %}

<footer class="footer">{% include 'footer.html' %}</footer>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div id="flash-popup" class="modal" style="display: flex;">
    <div class="modal-content">
        <span class="close-button" onclick="yeet_flash()">&times;</span>
        {% if messages|selectattr('0', 'equalto', 'error')|list|length > 0 %}
        <h2 class="error">Error</h2>
        {% else %}
        <h2>Info</h2>
        {% endif %}
        {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
    </div>
</div>

<script>
    function yeet_flash() {
        document.body.removeChild(document.getElementById('flash-popup'));
    }
</script>
{% endif %}
{% endwith %}

</body>
</html>