{% extends 'default.html' %}

{% block title %}Learn{% endblock %}

{% block links %}
<link rel="stylesheet" href="/style/vocab.css">
{% endblock %}

{% block content %}
<div class="main">
    <div class="vocab-card"> {# vocab learning module #}
        <div class="counter"><p id="count">0</p><p style="width: 12px;"> / </p><p id="total">0</p></div>
        <p>what does</p>
        <div class="vocab-wrapper">
            <div class="vocab-container">
                <h3 id="vocab" class="vocab"></h3>
                <p id="notes" class="vocab-notes"></p>
            </div>
        </div>
        <p>mean?</p>
        <br>
        <label id="input">Input your answer:
            <input id="answer" type="text" />
        </label>
    </div>
</div>

<div id="popup" class="modal" style="display: flex;">
    <div class="modal-content">
        <h2>Choose Game</h2>
        <label> Select a mode
            <select id="select_mode">
                <option value="default">default</option>
                <option value="reverse">reverse</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </label>
        <button class="submit_button" onclick="init()">done</button>
    </div>
</div>

<script>
    words = {{ vocabs|safe }}
</script>

<script src="/js/learn.js"></script>
<script src="/js/common.js"></script>
{% endblock %}