{% extends 'default.html' %}

{% block title %}{{ profile.username }}{% endblock %}

{% block content %}
<div class="main">
    <div class="profile-card">
        <img src="/profile/{{ profile.username }}/picture" alt="Profile" class="pfp"/>
        <h3 class="profile-name">{{ profile.username }}</h3>
        {% if profile.pronouns %}<p class="profile-pronouns">{{ profile.pronouns }}</p>{% endif %}
        {% if profile.description %}
        <div class="profile-description">{{ profile.description }}</div>
        {% else %}
        <br>
        {% endif %}
        <div class="date-wrapper"><b>Member Since</b><p>{{ profile.date_joined.date() }}</p></div>
    </div>
</div>
{% endblock %}